head
	title Blog
	// load bootstrap css
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
	// load fontawesome
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
	// load custom css
	link(rel='stylesheet', href='/client/style.css')