doctype html
html
  include ./includes/head.jade
  body
    .container
      include ./includes/header.jade
      .row
        .center-block
          ul
            each post in posts
              .post
                h4 #{post.title}
                p #{post.text}
                span.small #{post.author}
                br
                span.small #{post.created_at}
